SECRET_KEY="<INSERT SECRET KEY HERE>"
SPOONACULAR_API_KEY="<INSERT SPOONACULAR API KEY HERE>"
OPENAI_API_KEY="<INSERT OPENAI API KEY HERE>"
KROGER_CLIENT_ID="<INSERT KROGER CLIENT ID HERE>"
KROGER_CLIENT_SECRET="<INSERT KROGER CLIENT SECRET HERE>"
DEBUG=False