
.env
__pycache__/
*.pyc
db.sqlite3
staticfiles/
myenv/
media/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# pytest cache
.pytest_cache/

# Python virtual environments (optional but recommended)
venv/
.env

