#Steps
#1. Replace PROJECT_DIR with the abosulute path to your project directory (use up until the dev1_cust7 folder))
#2. Replace VENV_DIR with the abosulute path to your virtual environment directory for the project 

#You can use the pwd to find the absolute path to either of these
PROJECT_DIR="<INSERT_ABOSULUTE_PATH_TO_PROJECT_DIR_HERE>"
VENV_DIR="<INSERT_ABSOLUTE_PATH_TO_VENV_DIR_HERE>"